In [1]:
# For windows users
!pip install jovian -q

In [2]:
# For linux users
!pip3 install jovian -q

# Data Handling

## 1. Create a pandas series from a dictionary of values and an ndarray

In [3]:
import numpy as np
import pandas as pd

students = {"Aniket":78, "Aryan":73, "Suraj":90}
print("Dictionary is ",students)
series = pd.Series(students)
print("Series created for dictionary is :")
print(series)

#print(series["Aryan"])

arr = np.arange(4)
print("Array is ",arr)
series2 = pd.Series(arr, index=['A','B','C','D'])
print("Series created from array is :")
print(series2)

Dictionary is  {'Aniket': 78, 'Aryan': 73, 'Suraj': 90}
Series created for dictionary is :
Aniket    78
Aryan     73
Suraj     90
dtype: int64
Array is  [0 1 2 3]
Series created from array is :
A    0
B    1
C    2
D    3
dtype: int64

## 2. Given a Series, print all the elements that are above the 75th percentile.

In [4]:
import pandas as pd 
test = pd.Series([2,4,5,7,9,12,21])
percentile = test.quantile(.75)
print("75th Percentile is ",percentile)
print("Values in series greater than 75th percentile are :")
for x in range(len(test)):
    if test[x] > percentile:
        print(test[x])

75th Percentile is  10.5
Values in series greater than 75th percentile are :
12
21

## 3. Create a Data Frame quarterly sales where each row contains the item category, item name, and expenditure. Group the rows by the category, and print the total expenditure per category.

In [5]:
import pandas as pd 
quarterly_sales={"Items Category":
["Cold Drink","Chips","Chocolate","Chips","Cold Drink"],
"Items Name":
["Coke","Lays","Dairy Milk","Kurkure","Fanta"],
"Expenditure":
[35,20,40,20,65]}

df_sales = pd.DataFrame(quarterly_sales)
print(df_sales)
print(df_sales.groupby("Items Category")["Expenditure"]
      .sum())

  Items Category  Items Name  Expenditure
0     Cold Drink        Coke           35
1          Chips        Lays           20
2      Chocolate  Dairy Milk           40
3          Chips     Kurkure           20
4     Cold Drink       Fanta           65
Items Category
Chips          40
Chocolate      40
Cold Drink    100
Name: Expenditure, dtype: int64

## 4. Create a data frame based on ecommerce data and generate descriptive statistics (mean, median, mode, quartile, and variance)

In [6]:
import pandas as pd 
data = dict()
data["Product Name"]=["Fan","Phone","Book","Watch"]
data["Cost"]=[4000,23000,500,12000]
data["Quantity"] = [2,1,8,4]
data_ecommerce = pd.DataFrame(data)
print(data_ecommerce)
print(data_ecommerce.describe())

  Product Name   Cost  Quantity
0          Fan   4000         2
1        Phone  23000         1
2         Book    500         8
3        Watch  12000         4
               Cost  Quantity
count      4.000000  4.000000
mean    9875.000000  3.750000
std     9986.449152  3.095696
min      500.000000  1.000000
25%     3125.000000  1.750000
50%     8000.000000  3.000000
75%    14750.000000  5.000000
max    23000.000000  8.000000

## 5. Create a data frame for examination result and display row labels, column labels data types of each column and the dimensions

In [7]:
import pandas as pd 
exam_data = [(1234,"Ankit",460,92.0,"A+"),
             (1235,"Payal",400,80.0,"A"),
             (1236,"Charu",385,77.0,"B"),
             (1237,"Aryan",462,92.4,"A+"),
             (1238,"Kajal",280,56.0,"C")]
exam_result = pd.DataFrame(exam_data,
                          columns=["Admno","Name","Total","Percentage","Grade"],
                          index = ["A","B","C","D","E"])
print(exam_result)

print("Columns Labels are")
print(exam_result.columns)
print("Row Labels are")
print(exam_result.index.values)
print("Data Type of Columns are ")
print(exam_result.dtypes)
print("Dimentions of DataFrame are ")
print(exam_result.shape)

   Admno   Name  Total  Percentage Grade
A   1234  Ankit    460        92.0    A+
B   1235  Payal    400        80.0     A
C   1236  Charu    385        77.0     B
D   1237  Aryan    462        92.4    A+
E   1238  Kajal    280        56.0     C
Columns Labels are
Index(['Admno', 'Name', 'Total', 'Percentage', 'Grade'], dtype='object')
Row Labels are
['A' 'B' 'C' 'D' 'E']
Data Type of Columns are
Admno           int64
Name           object
Total           int64
Percentage    float64
Grade          object
dtype: object
Dimentions of DataFrame are
(5, 5)

## 6. Filter out rows based on different criteria such as duplicate rows.

In [8]:
import pandas as pd
students =[('Akash',20,'Mumbai'),
           ('Jay',17,'Delhi'),
           ('Akash',20,'Mumbai'),
           ('Satyam',30,'London'),
           ('Satyam',30,'London'),
           ('Satyam',30,'London'),
           ('Jay',17,'Delhi'),
           ('Rahul',20,'Mumbai')]
dfobj = pd.DataFrame(students, columns=['Name','Age','City'])
print(dfobj)
duplicateRowsDF = dfobj[dfobj.duplicated()]
print("Duplicate Rows are :")
print(duplicateRowsDF)

duplicateNames = dfobj[dfobj.duplicated(['Name'])]
print("Duplicate as per name :")
print(duplicateNames)

duplicateAges = dfobj[dfobj.duplicated(['Age', 'City'])]
print("Deplicate as per Age and City")
print(duplicateAges)

     Name  Age    City
0   Akash   20  Mumbai
1     Jay   17   Delhi
2   Akash   20  Mumbai
3  Satyam   30  London
4  Satyam   30  London
5  Satyam   30  London
6     Jay   17   Delhi
7   Rahul   20  Mumbai
Duplicate Rows are :
     Name  Age    City
2   Akash   20  Mumbai
4  Satyam   30  London
5  Satyam   30  London
6     Jay   17   Delhi
Duplicate as per name :
     Name  Age    City
2   Akash   20  Mumbai
4  Satyam   30  London
5  Satyam   30  London
6     Jay   17   Delhi
Deplicate as per Age and City
     Name  Age    City
2   Akash   20  Mumbai
4  Satyam   30  London
5  Satyam   30  London
6     Jay   17   Delhi
7   Rahul   20  Mumbai

## 7. Find the sum of each column, or find the column with the lowest mean.

In [9]:
import numpy as np
import pandas as pd

#x = np.random.choice(np.random.randint(1,100,25), size=(4, 5))
#print(x) 

x = [(11,12,13,14,15),
     (91,12,73,34,55),
     (16,17,18,19,20),
     (61,71,81,91,101)]

print(x)

df = pd.DataFrame(x,columns = ["A","B","C","D","E"],
                  index = ["a","b","c","d"])

print('\nDataFrame :')
print(df)

print('\nSum of columns :')
print(df.sum(axis = 0))

meandf = df.mean(axis = 0)
print("\nMean of columns :")
print(meandf)

sorted_ser= meandf.sort_values(ascending=True)
print('\nSorted series :')
print(sorted_ser)
print('Minimum mean column')
print(sorted_ser[0:1])

var = (df.mean(axis = 0).sort_values(ascending=True)[0:1])
print(var)

[(11, 12, 13, 14, 15), (91, 12, 73, 34, 55), (16, 17, 18, 19, 20), (61, 71, 81, 91, 101)]

DataFrame :
    A   B   C   D    E
a  11  12  13  14   15
b  91  12  73  34   55
c  16  17  18  19   20
d  61  71  81  91  101

Sum of columns :
A    179
B    112
C    185
D    158
E    191
dtype: int64

Mean of columns :
A    44.75
B    28.00
C    46.25
D    39.50
E    47.75
dtype: float64

Sorted series :
B    28.00
D    39.50
A    44.75
C    46.25
E    47.75
dtype: float64
Minimum mean column
B    28.0
dtype: float64
B    28.0
dtype: float64

## 8. Locate the 3 largest values in a data frame.

In [10]:
import pandas as pd 
data_dictionary = {
    'A':[91,52,23,74],
    'B':[95,83,76,62],
    'C':[65,46,94,27],
    'D':[66,25,77,44]}
df = pd.DataFrame(data_dictionary)
print(df)
ser = df.stack()
print(ser.nlargest(3))
"""
print(df.nlargest(3,['A'])['A'])
print(df.nlargest(3,['B'])['B'])
print(df.nlargest(3,['C'])['C'])
print(df.nlargest(3,['D'])['D'])

print(df.nsmallest(3,['A'])['A'])
print(df.nsmallest(3,['B'])['B'])
print(df.nsmallest(3,['C'])['C'])
print(df.nsmallest(3,['D'])['D'])

print(ser.nsmallest(3))
"""

    A   B   C   D
0  91  95  65  66
1  52  83  46  25
2  23  76  94  77
3  74  62  27  44
0  B    95
2  C    94
0  A    91
dtype: int64

"\nprint(df.nlargest(3,['A'])['A'])\nprint(df.nlargest(3,['B'])['B'])\nprint(df.nlargest(3,['C'])['C'])\nprint(df.nlargest(3,['D'])['D'])\n\nprint(df.nsmallest(3,['A'])['A'])\nprint(df.nsmallest(3,['B'])['B'])\nprint(df.nsmallest(3,['C'])['C'])\nprint(df.nsmallest(3,['D'])['D'])\n\nprint(ser.nsmallest(3))\n"

## 9. Subtract the mean of a row from each element of the row in a Data Frame.

In [11]:
import pandas as pd 
data_dict = {
    'A':[91,52,23,74],
    'B':[95,83,76,62],
    'C':[65,46,94,27],
    'D':[66,25,77,44]}

df = pd.DataFrame(data_dict)
print(df)
row_mean = df.mean(axis=1)
print(row_mean)
print("DataFrame after substracting row mean from each element of row :")
print(df.subtract(row_mean, axis = 0))

    A   B   C   D
0  91  95  65  66
1  52  83  46  25
2  23  76  94  77
3  74  62  27  44
0    79.25
1    51.50
2    67.50
3    51.75
dtype: float64
DataFrame after substracting row mean from each element of row :
       A      B      C      D
0  11.75  15.75 -14.25 -13.25
1   0.50  31.50  -5.50 -26.50
2 -44.50   8.50  26.50   9.50
3  22.25  10.25 -24.75  -7.75

## 10. Replace all negative values in a data frame with a 0.

In [12]:
import pandas as pd 
data_dict = {
    'A':[1,-5,3,-7],
    'B':[-5,8,-7,2],
    'C':[5,-4,-4,2],
    'D':[-6,5,7,-4]}

df = pd.DataFrame(data_dict)
print(df)
df[df<0]=0
print(df)

   A  B  C  D
0  1 -5  5 -6
1 -5  8 -4  5
2  3 -7 -4  7
3 -7  2  2 -4
   A  B  C  D
0  1  0  5  0
1  0  8  0  5
2  3  0  0  7
3  0  2  2  0

## 11. Replace all missing values in a data frame with a 999.

In [13]:
import numpy as np
import pandas as pd
data_dic = {
    "A":[10,40,np.NaN],
    "B":[20,np.NaN,50],
    "C":[np.NaN,60,70]
}
df = pd.DataFrame(data_dic)
print(df)
df.fillna(999,inplace=True)
print(df)

#df1 = df.fillna(999)
#print(df1)
#df2 = df.replace(np.NaN,999)
#print(df2)

      A     B     C
0  10.0  20.0   NaN
1  40.0   NaN  60.0
2   NaN  50.0  70.0
       A      B      C
0   10.0   20.0  999.0
1   40.0  999.0   60.0
2  999.0   50.0   70.0

## 12. Importing and exporting data between pandas and CSV file

In [14]:
import numpy as np
import pandas as pd

dict1 = {
    "name":['harry','rohan','skillf','shubham'],
    "marks":[92,34,24,67],
    "city":['rampur','kolkata','bareilly','antarctica']
}

df = pd.DataFrame(dict1)
print(df)

df.to_csv('friends.csv')


train = {
    "Train No.":[17738,21883,17548,23173],
    "Speed":[92,108,24,67],
    "City":['rampur','kolkata','bareilly','antarctica']
}

df_harry = pd.DataFrame(train)

df_harry.to_csv('trains.csv', index=False)

harry = pd.read_csv('trains.csv')

print(harry)

      name  marks        city
0    harry     92      rampur
1    rohan     34     kolkata
2   skillf     24    bareilly
3  shubham     67  antarctica
   Train No.  Speed        City
0      17738     92      rampur
1      21883    108     kolkata
2      17548     24    bareilly
3      23173     67  antarctica

## 13. Importing and exporting data between pandas and MySQL database

# Visualization

## 14. Given the school result data, analyse the performance of the students on different parameters, e.g subject wise or class wise.

## 15. For the Data frames created above, analyze and plot appropriate charts with title and legend.

## 16. Take data of your interest from an open source (e.g. data.gov.in), aggregate and summarize it. Then plot it using different plotting functions of the Matplotlib library.

# Project

import mysql.connector

class hotelmanage:
    
    mydb = mysql.connector.connect(host="localhost",user="suraj",password="password")
    
    def dbchecker(dbname):
        mydb = mysql.connector.connect(host="localhost",user="suraj",password="password")
        
        dbcreated = False
    
        dbs = []

        mycursor = mydb.cursor()
        mycursor.execute("SHOW DATABASES")

        for x in mycursor:
            #print(x) 
            dbs.append(x)

        for items in dbs:
            if dbname in items:
                dbcreated = True
            else:
                if dbcreated == True:
                    dbcreated = True
                else:
                    dbcreated = False
    
        if dbcreated is True:
            return True
        else:
            return False
        
    if dbchecker('hotel1') == False:
        mycursor = mydb.cursor()
        mycursor.execute("CREATE DATABASE hotel1")
        print('Database created')
    else:
        print('Database already exist')
    
    mydb1 = mysql.connector.connect(host="localhost",user="suraj",password="password", database="hotel1")
    def tbchecker(tbname):
        
        mydb1 = mysql.connector.connect(host="localhost",user="suraj",password="password", database="hotel1")
        
        tbcreated = False
        tbs = []
        mycursor = mydb1.cursor()
        mycursor.execute("SHOW TABLES")

        for x in mycursor:
            #print(x) 
            tbs.append(x)

        for items in tbs:
            if tbname in items:
                tbcreated = True
            else:
                if tbcreated == True:
                    tbcreated = True
                else:
                    tbcreated = False
    
        if tbcreated is True:
            return True
        else:
            return False
        
    if tbchecker('guest') == False:
        mycursor = mydb1.cursor()
        mycursor.execute("CREATE TABLE guest(Personid int NOT NULL AUTO_INCREMENT PRIMARY KEY, name varchar(20) NOT NULL, address varchar(100) NOT NULL, cindate DATE NOT NULL, coutdate DATE NOT NULL)")
        print('Table created')
    else:
        print('Table already exist')
 
    def __init__(self,rt='',s=0,p=0,r=0,t=0,a=1000,name='',address='',cindate='',coutdate='',rno=1):
 
        print ("\n\n*****WELCOME TO HOTEl DE SUAREZ*****\n")
 
        self.rt=rt
 
        self.r=r
 
        self.t=t
 
        self.p=p
 
        self.s=s
        self.a=a
        self.name=name
        self.address=address
        self.cindate=cindate
        self.coutdate=coutdate
        self.rno=rno
    def inputdata(self):
        self.name=input("\nEnter your Fullname:")
        self.address=input("\nEnter your address:")
        self.cindate=input("\nEnter your check in date:")
        self.coutdate=input("\nEnter your checkout date:")
        print("Your room no.:",self.rno,"\n")
        
        mydb1 = mysql.connector.connect(host="localhost",user="suraj",password="password", database="hotel1")
        mycursor = mydb1.cursor()
        sqlform = "INSERT INTO guest(name, address, cindate, coutdate) values(%s,%s,%s,%s)"
        guest = [self.name, self.address, self.cindate, self.coutdate]
        mycursor.execute(sqlform, guest)
        mydb1.commit()

        
    def roomrent(self):#sel1353
 
        print ("We have the following rooms for you:-")
 
        print ("1.  Class A---->4000")
 
        print ("2.  Class B---->3000")
 
        print ("3.  Class C---->2000")
 
        print ("4.  Class D---->1000")
 
        x=int(input("Enter the number of your choice Please->"))
 
        n=int(input("For How Many Nights Did You Stay:"))
 
        if(x==1):
 
            print ("you have choose room Class A")
 
            self.s=4000*n
 
        elif (x==2):
 
            print ("you have choose room Class B")
 
            self.s=3000*n
 
        elif (x==3):
 
            print ("you have choose room Class C")
 
            self.s=2000*n
 
        elif (x==4):
            print ("you have choose room Class D")
 
            self.s=1000*n
 
        else:
 
            print ("please choose a room")
 
        print ("your choosen room rent is =",self.s,"\n")
 
    def foodpurchased(self):
 
        print("*****RESTAURANT MENU*****")
 
        print("1.Dessert----->100","2.Drinks----->50","3.Breakfast--->90","4.Lunch---->110","5.Dinner--->150","6.Exit")
 
 
        while (1):
 
            c=int(input("Enter the number of your choice:"))
 
 
            if (c==1):
                d=int(input("Enter the quantity:"))
                self.r=self.r+100*d
 
            elif (c==2):
                 d=int(input("Enter the quantity:"))
                 self.r=self.r+50*d
 
            elif (c==3):
                 d=int(input("Enter the quantity:"))
                 self.r=self.r+90*d
 
            elif (c==4):
                 d=int(input("Enter the quantity:"))
                 self.r=self.r+110*d
 
            elif (c==5):
                 d=int(input("Enter the quantity:"))
                 self.r=self.r+150*d
 
            elif (c==6):
                break;
            else:
                print("You've Enter an Invalid Key")
 
        print ("Total food Cost=Rs",self.r,"\n")
 
 
 
    def display(self):
        print ("******HOTEL BILL******")
        print ("Customer details:")
        print ("Customer name:",self.name)
        print ("Customer address:",self.address)
        print ("Check in date:",self.cindate)
        print ("Check out date",self.coutdate)
        print ("Room no.",self.rno)
        print ("Your Room rent is:",self.s)
        print ("Your Food bill is:",self.r)
 
        self.rt=self.s+self.t+self.p+self.r
 
        print ("Your sub total Purchased is:",self.rt)
        print ("Additional Service Charges is",self.a)
        print ("Your grandtotal Purchased is:",self.rt+self.a,"\n")
        self.rno+=1
 
            
 
        
 
        
 
def main():
 
    a=hotelmanage()
    
 
    while (1):
        print("1.Enter Customer Data")
        
        print("2.Calculate Room Rent")
 
        print("3.Calculate Food Purchased")
 
        print("4.Show total cost")
 
        print("5.EXIT")
 
        b=int(input("\nEnter the number of your choice:"))
        if (b==1):
            a.inputdata()
 
        if (b==2):
 
            a.roomrent()
 
        if (b==3):
 
            a.foodpurchased()
 
        if (b==4):
 
            a.display()
 
        if (b==5):
 
            quit()
 
 
 
main()